body {
    background: var(--white-color);
    width: 1441px;
}

:root {
    --primary-color: #957554;
    --secondary-color: #DFAA5B;
    --white-color: #FFFFFF;
    --black-color: #111;
}

.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.page-header {
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.header-icon {
    display: block;
    width: 151px;
    height: 101px;
    margin: 34px auto;
}

.container {
    /* display: flex;
    flex-direction: column;
    align-items: center; */

}

.navigation {
    /* display: flex;
    align-items: center; */
}

.nav {
    margin-top: 0px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--primary-color);
    list-style: none;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header-loop-icon {
    width: 16px;
    height: 16px;
    background: var(--white-color);
    border: 0;
}




.section.drop-down {
    background: var(--black-color);
    height: 119px;
}

.drop-down {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
}




.hero {
    background-image: url(/images/hDbCjHNdF48.png);
    background-color: linear-gradient(0deg, rgba(7, 7, 7, 0.22) 0%, rgba(7, 7, 7, 0.22) 100%);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: 790px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-welcome {
    color: var(--white-color);
    font-family: Segoe UI;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    /* margin-top: 0; */
}

.hero-tagline {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 41px;
}

.hero-button {
    background-color: var(--secondary-color);
    width: 371px;
    height: 76px;
    border-radius: 8px;
    border-color: transparent;
}

.hero-button-word {
    color: var(--white-color);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.section {
    margin-right: 61px;
    margin-left: 61px;
}

.section-title {
    color: var(--primary-color);
    font-size: 45px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 45px;
    padding-top: 45px;
}

section.facilities {
    margin-top: -175px;
    background-color: var(--white-color);
    min-width: 1319px;
    height: 289px;
    border-radius: 12px;
}

/* .facilities {
    background-color: #FFF;
    min-width: 1319px;
    height: 289px;
    border-radius: 12px;
    margin-top: -130px;
    margin-left: 61px;
} */



.facilities-list {
    margin-top: 0px;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: var(--secondary-color);
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

.facilities-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.facilities-list-item img {
    width: 60px;
    height: 60px;
}

