main {
    overflow-x: hidden;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
    transition: all var(--main-transition);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

a, button {
    cursor: pointer;
}

body {
    background: #fff;
}
